.vagrant/
*.csv
*.dat
web/node_modules/loopback-datasource-juggler/.idea/loopback-data.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
!mobile/config.xml
.DS_Store
.idea
.idea/
web/client/lib/
.project
.strong-pm
coverage
node_modules
npm-debug.log
