<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="login.doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Usuário</span>
          <input type="text" ng-model="login.loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Senha</span>
          <input type="password" ng-model="login.loginData.password">
        </label>
        <span ng-bind="login.msgError"></span>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Log in</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
